<div class="row">
	<div class="col-12 text-center">
		{{message}}
	</div>
</div>
<div class="row justify-content-center">
   	<div class="col-8 col-md-4 col-lg-3">
		<a class="btn btn-primary btn-block" href="{{baseurl}}{{home}}">กลับหน้าหลัก</a>
   	</div>
</div>